h1{
    color:blue;
  }
  nav { 
        display: inline-block;   
        width: 740px;
        text-align: right; 
      } 
  nav ul 
      {    
        list-style-type: none;
      } 
  nav li 
      {    
        display: inline-block;    
        margin-right: 15px;
      } 
  nav a 
      {    
        font-size: 1.3em;    
        color: #181818;    
        padding-bottom: 3px;    
        text-decoration: none;
      } 
  nav a:hover 
      {    
        color: #760001;    
        border-bottom: 3px solid #760001; 
      }
 /*header 
        {
            background: url('../mo.jpg') repeat-x bottom; 
        } 
header.img{
  height: 12px;
}*/



/*nav
  {
    opacity: 1; 
    background-color:rgb(0, 255, 12);
    display: inline-block;
    width: 1270px;
    text-align: left;
  }
nav ul 
  { 
    list-style-type: none;
  }
nav li 
  { 
    display: inline-block;   
    margin-right: 15px;
  }
nav a
  {

    font-size: 1.3em;    
    color:black;   
    padding-bottom: 3px;  
    text-decoration: none;
  } 
  nav a:hover{
    opacity: 0.5;
  }*/
body
  {
    background: blur(18px);
  }
img 
  {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding:5px;
    width:500px;
    height:500px 
    opacity: 0.5;
    filter: alpha(opacity=05);
  }

 .mil {  
 width: 25%;  
            margin: auto;    
            border: 1px solid ;
            border-radius: 10px; 
            background-color: rgb(232,255,223); ;
            box-shadow: 6px 6px 10px black; 
          }